{% load compress %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link href="{% static 'cardapio_simples/css/templatemo-style.css' %}" rel="stylesheet" />
	<style>
		.popup {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: white;
			padding: 20px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			z-index: 1000;
			text-align: center;
			max-width: 80vw; /* Defina a largura máxima conforme necessário */
		}

		.popup img {
			max-width: 100%;
			max-height: 70vh;
			margin-bottom: 10px;
		}

		.popup p {
			font-size: 16px;
			line-height: 1.6;
			color: #333;
			margin-bottom: 10px;
		}

		.popup .tm-gallery-title {
			font-size: 24px;
			margin-bottom: 10px;
		}

		.popup .tm-gallery-price {
			font-size: 18px;
			font-weight: bold;
		}

		.close-button {
			position: absolute;
			top: 10px;
			right: 10px;
			background: none;
			border: none;
			font-size: 20px;
			cursor: pointer;
		}

	</style>
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'cardapio_simples/img/simple-house-01.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{% static 'cardapio_simples/img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Simple House</h1>
								<h6 class="tm-site-description">new restaurant template</h6>	
							</div>
						</div>
						<!--<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="index.html" class="tm-nav-link active">Home</a></li>
								<li class="tm-nav-li"><a href="about.html" class="tm-nav-link">About</a></li>
								<li class="tm-nav-li"><a href="contact.html" class="tm-nav-link">Contact</a></li>
							</ul>-->
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Welcome to Simple House</h2>
				<p class="col-12 text-center">Total 3 HTML pages are included in this template. Header image has a parallax effect. You can feel free to download, edit and use this TemplateMo layout for your commercial or non-commercial websites.</p>
			</header>
			
			<div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">Pizza</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Salad</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Noodle</a></li>
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				{% for category, items in cardapio.items %}
					<div id="tm-gallery-page-{{ category }}" class="tm-gallery-page {% if not forloop.first %}hidden{% endif %}">
						{% for item in items %}
							<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
								<figure>
									<img src="{% static 'cardapio_simples/img/'|add:item.image %}" alt="Image" class="img-fluid tm-gallery-img lightbox-img" />
									<figcaption>
										<h4 class="tm-gallery-title">{{ item.title }}</h4>
										<p class="tm-gallery-description">{{ item.description }}</p>
										<p class="tm-gallery-price">{{ item.price }}</p>
									</figcaption>
								</figure>
							</article>
						{% endfor %}
					</div> <!-- gallery page {{ category }} -->
				{% endfor %}
			</div>
			
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src="{% static 'cardapio_simples/img/img-01.jpg' %}" alt="Image" class="img-fluid" />
						</figure>
					</div>
					<div class="col-md-6">
						<div class="tm-description-box"> 
							<h4 class="tm-gallery-title">Maecenas nulla neque</h4>
							<p class="tm-mb-45">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a rel="nofollow" href="https://templatemo.com/contact">talk to us</a> for additional permissions about our templates. Thank you.</p>
							<a href="about.html" class="tm-btn tm-btn-default tm-right">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2024 MK4 Digital 
            
            | Design: <a rel="nofollow" href="https://www.linkedin.com/in/cristianritter/">Cristian Ritter</a></p>
		</footer>
	</div>
	<script src="{% static 'cardapio_simples/js/jquery.min.js' %}"></script>
	<script src="{% static 'cardapio_simples/js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
	
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var lightboxImages = document.querySelectorAll('.lightbox-img');
			var isOpen = false; // Flag para controlar se a popup está aberta
	
			lightboxImages.forEach(function (image) {
				image.addEventListener('click', function () {
					// Verifica se uma popup já está aberta
					if (!isOpen) {
						// Cria um elemento de popup
						var popup = document.createElement('div');
						popup.className = 'popup tm-gallery-item'; // Adiciona classes da página principal
	
						// Cria a imagem maior dentro do popup
						var largeImage = document.createElement('img');
						largeImage.src = image.src;
						largeImage.alt = image.alt;
						largeImage.style.maxWidth = '350px';
						largeImage.style.height = 'auto';
	
						// Cria elementos para descrição e preço
						var description = document.createElement('p');
						description.className = 'tm-gallery-description'; // Adiciona classe da página principal
						description.textContent = image.nextElementSibling.querySelector('.tm-gallery-description').textContent;
	
						var price = document.createElement('p');
						price.className = 'tm-gallery-price'; // Adiciona classe da página principal
						price.textContent = image.nextElementSibling.querySelector('.tm-gallery-price').textContent;
	
						// Adiciona os elementos ao popup
						popup.appendChild(largeImage);
						popup.appendChild(description);
						popup.appendChild(price);
	
						// Adiciona o popup ao corpo do documento
						document.body.appendChild(popup);
	
						// Adiciona um botão de fechar ao popup
						var closeButton = document.createElement('button');
						closeButton.textContent = 'X';
						closeButton.className = 'close-button';
						closeButton.addEventListener('click', function () {
							document.body.removeChild(popup);
							isOpen = false; // Define a flag como false ao fechar a popup
						});
	
						popup.appendChild(closeButton);
	
						isOpen = true; // Define a flag como true ao abrir a popup
					}
				});
			});
		});
	</script>
	
	
	
	
	
</body>
</html>