/* Estilos para o logo */
.logo {
    max-width: 650px; /* Ajuste conforme necessário */
    display: block;
    margin: 0; /* Remova a margem anterior */
    padding: 8px; /* Adicione um preenchimento para espaçamento */
    float: left; /* Faz com que o logo flutue para a esquerda */
}

.top-bar {
    max-width: 1320px;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; /* Adiciona 'right: 0' para que o elemento ocupe toda a largura */
    margin-left: auto; /* Define 'margin-left: auto' para centralizar o elemento */
    margin-right: auto; /* Define 'margin-right: auto' para centralizar o elemento */
    z-index: 1000; /* para garantir que a barra fique sempre acima do conteúdo */
    padding: 8px 0;
}
