{% load static %}
<link href="{% static 'common/404/css/404.css'%}" rel="stylesheet" />
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
  <h1>Error <span class="errorcode">404</span></h1>
  <p class="output">Parece que a página que vocÊ está procurando não existe. </p>
  <p>Ela pode ter sido removida, ter tido seu nome alterado ou estar temporariamente indisponível.</p>
  <p class="output">Por favor tente <a href="#1">retornar</a> ou <a href="#2">ir para a nossa página inicial.</a>.</p>
  <p class="output">Até mais.</p>
</div>