{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content={{meta_description}} />
        <meta name="author" content="Cristian Ritter / Alex Amaro" />
        <link rel="icon" type="image/x-icon" href="{% static 'common/landing_page/favicon.ico' %}">
        <title>{{nome_empresa}} - {{descricao_curta}}</title>
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
        {% compress css %}
        <link href="{% static 'common/landing_page/css/styles.css'%}" rel="stylesheet" />
        {% endcompress %}
        </head>

    <body id="page-top">
        <title>Seção de Serviços</title>           
        <!-- Navigation-->
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="mainNav"> 
            <div class="container">
                <a class="navbar-brand" href="/catalogo_digital">MK4 Digital</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">Nossos Serviços</a></li>
                        <li class="nav-item"><a class="nav-link" href="#photos">Sobre a Empresa</a></li>
                        <li class="nav-item"><a class="nav-link" href="#new-contact">Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        {% if image0link %}
        <header class="masthead" style="background-image: url({{image0link}}); background-position: center; text-align: center; height: 550px;">
        {% else %}
        <header class="masthead" style="background-image: url('{% static caminho_arquivos %}/img/0.webp'); background-position: center; text-align: center; height: 550px;">
        {% endif %}
            <div class="container">
                <div class="col">
                    <div class="masthead-subheading">{{ descricao_curta }}</div>
                    <div class="masthead-heading text-uppercase">{{ nome_empresa }}</div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-primary text-uppercase" href="#new-contact">Entre em contato</a>
                        {% if link_loja %}
                            <a class="btn btn-primary text-uppercase" href="{{ link_loja }}">Acesse nossa loja virtual</a>
                        {% endif %}
                    </div>
                </div>
            </div>   
        </header>
        
        <!-- Services -->
        <section class="page-section" id="services">
            <div class="container">
                <div style="max-width: 500px; margin: 0 auto;">
                    <h2 class="text-center">{{lista_titulo}}</h2>
                    <div class="text-left" style="margin: 0 20px;"> <!-- Adicionando margem nas laterais da lista -->
                        <ul class="list-unstyled">
                            {% for item in lista_items %}
                            <li>
                                <span class="text-secondary me-2">&#9658;</span>
                                <span class="fw fs-5">{{ item }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image_link in image_links %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image_link }}" class="d-block w-100" alt="Imagem {{ forloop.counter }}" width="300" height="230">
                        </div>
                    {% endfor %}
                    {% for i in num_imagens_carrousel|default:0 %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{% static caminho_arquivos %}/img/{{ forloop.counter }}.webp" class="d-block w-100" alt="Imagem {{ forloop.counter }}" width="300" height="230">
                        </div>
                    {% endfor %}  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próximo</span>
                </button>
            </div>
        </section>
        <section class="page-section" id="photos">
            <div class="container">
                <div class="text-center">
                    <div class="row text-center">
                        {% for item1, item2 in pares_colunas %}
                        <div class="col-md-4">
                            <h3 class="my-3 text-uppercase">{{ item1 }}</h3>
                            <p class="fw fs-5">{{ item2 }}</p>
                        </div>    
                        {% endfor %}
                        <p><a href="{{reviews_link}}" target="_blank" class="btn btn-primary mb-4 text-uppercase">consulte aqui nossas avaliações</a></p>
                    </div>
                </div>
            </div>
        </section>
            
        <!-- New Contact Section -->
        <section class="page-section text-center" id="new-contact">
            <div class="container mx-auto">
                <h2 class="section-heading text-uppercase">Contato</h2>
                <!-- Contact Information -->
                <div class="col-md-4 mx-auto text-center">
                    {% if horario_atendimento %}
                    <p><strong>Horário de Atendimento:</strong> {{horario_atendimento}}</p>
                    {% endif %}
                    {% if numeros_telefone %}
                    <p><strong>Telefone:</strong> {{numeros_telefone}}</p>
                    {% endif %}
                    {% if whats_link %}
                    <p><a href="{{whats_link}}" target="_blank" class="btn btn-primary mb-4 text-uppercase">Conversar no WhatsApp</a></p>
                    {% endif %}
                    {% if endereco %}
                        <p><strong>Endereço:</strong> {{endereco}}</p>
                        {% if gmaps_link %}
                        <button class="btn btn-primary text-uppercase" onclick="carregarMapa()" id="map-button">Ver mapa</button>
                        {% endif %}
                        <a class="btn btn-primary text-uppercase" href="https://www.google.com/maps/dir/?api=1&destination={{endereco}}" target="_blank">Obter Direções</a>
                    {% endif %}
                    {% if email %}
                        <p><strong>E-mail:</strong> <a href="mailto:{{email_contato}}">{{email_contato}}</a></p>
                    {% endif %}     
                    </div>
                <div class="col-md-8 mx-auto">
                    <!-- Google Maps Embed with Margin -->
                    <div class="embed-responsive embed-responsive-16by9 my-4" id="google-map-container">
                        <!-- O script do Google Maps pode ser carregado dinamicamente aqui -->
                    </div>
                </div>
            </div>
        </section>  
        {% if gmaps_link %}
        <script async>
            function carregarMapa() {
                // Coletar o elemento do iframe
                var iframe = document.createElement("iframe");
        
                // Adiar a adição do atributo src até que o botão seja clicado
                iframe.setAttribute("src", "{{gmaps_link}}");
                iframe.setAttribute("width", "100%");
                iframe.setAttribute("height", "200");
                
                // Adicionar o iframe ao contêiner
                document.getElementById("google-map-container").appendChild(iframe);
                document.getElementById("map-button").style.display = "none";
            }
        </script>
        {% endif %}
      
        <!-- Footer-->    
        <footer class="footer py-4">
            <div class="container text-center">
                <p class="mb-4"><a href="https://mk4digital.com" class="text-dark fs-5">Divulgue sua empresa aqui.</a></p>
                <div class="row align-items-center">
                    <div class="col-lg-3 text-lg-start">Copyright &copy; MK4DIGITAL 2024</div>
                    <div class="col-lg-3 text-lg-start">Você é o visitante número <strong>{{contador_visitas}}</strong></div>
                    <div class="col-lg-3 text-lg-start">Desenvolvido por <a href="https://www.linkedin.com/in/cristianritter/" class="text-dark">Cristian Ritter</a></div>
                 </div>
            </div>
        </footer>        
        <script defer src="{% static 'common/landing_page/js/scripts.js' %}"></script>
    </body>
</html>
