{% load static %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8" />
        <title>{{nome_empresa}} - {{descricao_curta}}</title>
        <meta name="description" content={{meta_description}} />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="icon" type="image/png" href="{% static 'common/landing_page/favicon.png' %}">
        <link href="{% static 'common/landing_page/css/styles_old.css'%}" rel="stylesheet" />
    </head>   
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TKSFTQLMCG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TKSFTQLMCG');
    </script>            
    <body id="page-top">
        <title>Seção de Serviços</title>           
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="mainNav"> 
            <div class="container">
                <a class="navbar-brand" href="#page-top"><img src="{% static 'common/landing_page/img/navbar-logo.svg' %}" alt="ConectaPages" style="width: 150px; height: auto;"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">Topo</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Serviços</a></li>
                        <li class="nav-item"><a class="nav-link" href="#new-contact">Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead" id="masthead" style="background-position: center; text-align: center; height: 400px; max-width: 1320px; margin: 0 auto; background-image: url('{{ endereco_bucket }}{{ nomes_arquivos_imagens.0 }}');">
            <div class="container">
                <div class="masthead-subheading">{{ descricao_curta }}</div>
                <div class="masthead-heading text-uppercase">{{ nome_empresa }}</div>
                <div class="col">
                    {% if link_loja %}
                    <a class="btn btn-primary text-uppercase" href="{{ link_loja }}">Acesse nossa loja virtual</a>
                    {% else %}
                    <a class="btn btn-primary text-uppercase" href="#new-contact">Entre em contato</a>
                    {% endif %}
                </div>
            </div>   
        </header>
        <section class="page-section" id="services">
            {% if lista_items.0 %}
            <div class="container mb-5">
                <h2 class="text-center my-3 text-uppercase">{{lista_titulo}}</h2>
                <div class="text-left col-md-5 box mx-auto" > 
                    <ul>
                        {% for item in lista_items %}
                        <li>
                            <span class="text-secondary me-2"></span>
                            <span class="fw fs-5 text-uppercase">{{ item }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class="container">
                <div class="row text-center ">
                    {% for chave, valor in dados_dict.items %}
                    <div class="col-md-4">
                        <h3 class="my-3 text-uppercase">{{ chave }}</h3>
                        <p class="fw fs-5">{{ valor }}</p>
                    </div>
                    {% endfor %}
                    {% if reviews_link %}                    
                    <p class="p-3"><a href="{{reviews_link}}" target="_blank" class="btn2 btn-primary2 mb-4 text-uppercase">consulte aqui nossas avaliações</a></p>
                    {% endif %}
                </div>
            </div>
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for filename in nomes_arquivos_imagens|slice:"2:" %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img data-src="{{ endereco_bucket }}{{ filename }}" class="d-block w-100 lazy-load" alt="Imagem {{ forloop.counter }}" width="350" height="200">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próximo</span>
                </button>
            </div>
        </section>    
        <section class="page-section text-center" id="new-contact">
            <div class="container mx-auto">
                <h2 class="section-heading text-uppercase">Contato</h2>
                <div class="col-md-4 mx-auto text-center">
                    <p><strong>Atendimento:</strong> {{horario_atendimento}}</p>
                    <p><strong>Telefone:</strong> {{numeros_telefone}}</p>
                    <p><a href="{{link_whats}}" target="_blank" class="btn2 btn-primary2 mb-4 text-uppercase">Conversar no WhatsApp</a></p>
                    <p><strong>Onde estamos:</strong> {{endereco}}</p>
                    {% if gmaps_link %}
                    <button class="btn2 btn-primary2 text-uppercase" onclick="carregarMapa()" id="map-button">Ver mapa</button>
                    <script defer>
                        function carregarMapa() {
                            var iframe = document.createElement("iframe");
                            iframe.setAttribute("src", "{{gmaps_link}}");
                            iframe.setAttribute("width", "100%");
                            iframe.setAttribute("height", "200");
                            document.getElementById("google-map-container").appendChild(iframe);
                            document.getElementById("map-button").style.display = "none";
                        }
                    </script>            
                    {% endif %}
                    <a class="btn2 btn-primary2 text-uppercase" href="https://www.google.com/maps/dir/?api=1&destination={{endereco}}" target="_blank">Obter Direções</a>
                    {% if email_contato %}
                    <p class="my-4"><strong>E-mail:</strong> <a href="mailto:{{email_contato}}">{{email_contato}}</a></p>
                    {% endif %}     
                </div>
                <div class="embed-responsive embed-responsive-16by9 my-4 col-md-4 mx-auto" id="google-map-container"></div>
            </div>
        </section>  
        <footer class="footer py-4">
            <div class="container text-center">
                <p class="mb-4"><a href="\" class="text-dark fs-5">Divulgue sua empresa com a gente</a></p>
                <div class="">Você é o visitante número <strong>{{contador_visitas}}</strong></div>
                <div class="text-uppercase">Copyright &copy; ConectaPages 2024</div>
            </div>
        </footer>        
        <script defer src="{% static 'common/landing_page/js/scripts.js' %}"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script>
            window.onload = function() {
                var highQualityImageUrl = '{{ endereco_bucket }}{{ nomes_arquivos_imagens.1 }}';   
                var lazyImages = document.querySelectorAll("img.lazy-load");
                var img = new Image();
                img.onload = function() {
                    document.getElementById('masthead').style.backgroundImage = 'url(' + highQualityImageUrl + ')';
                };
                img.src = highQualityImageUrl; 
                lazyImages.forEach(function(lazyImage) {
                     lazyImage.src = lazyImage.dataset.src;
                    lazyImage.classList.remove("lazy-load");
                });
            };
        </script>   
    </body>
</html>
