{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content='{{category}} em{{address|last}}. Telefone, localização, fotos e avaliações aqui.' />
        <script src="{% static 'landingpage/js/gmaps.js' %}"></script>
        <script defer src="{% static 'landingpage/js/carousel.js'%}"></script>
        <script defer src="{% static 'landingpage/js/onload.js' %}"></script>
        <script defer src="{% static 'landingpage/js/font_awesome.js' %}"></script>
        <!-- Google tag (gtag.js) -->
        <script defer src="https://www.googletagmanager.com/gtag/js?id=G-TKSFTQLMCG"></script>
        <script defer src="{% static 'common/gtag/gtag.js' %}"></script>
        <link rel="icon" type="image/png" href="{% static 'common/favicon/favicon-128x128.png' %}">
        <link href="{% static 'landingpage/css/styles.css'%}" rel="stylesheet" />
        <link href="{% static 'landingpage/css/top_black_bar.css'%}" rel="stylesheet" />
        <link href="{% static 'landingpage/css/carousel.css'%}" rel="stylesheet" />
        <title>{{company_name}} - {{tagline}}</title>
    </head>   
    <body id="page-top">
        <header class="top-bar">
            <div class="container logo">
                <a href="/">
                    <img src="{% static 'landingpage/img/logo.svg' %}" width="150" height="26" alt="Logo da página" class="logo">
                </a>
            </div>
        </header>
        <header class="masthead main-content" id="masthead">
            <div class="container">
                {% if heading_style == 3 %}
                <div class="background-image" id="background-image" style="background-image: url('{{ bucket }}heading_small.webp');filter: brightness(1);  max-width: 400px;" highQualityImageUrl="{{ bucket }}heading_large.webp"></div>
                {% elif heading_style == 2 %}
                <div class="background-image" id="background-image" style="background-image: url('{{ bucket }}heading_small.webp'); background-size: cover;" highQualityImageUrl="{{ bucket }}heading_large.webp"></div>    
                {% elif heading_style == 0 %}
                <div class="background-image" id="background-image" style="background-color: rgb(2, 48, 53);"></div>
                {% else %}
                <div class="background-image" id="background-image" style="background-color: rgb(228, 193, 129);"></div>
                {% endif %}
                {% if heading_style < 3 %}
                <div class="masthead-subheading" >
                    {{ tagline }} 
                </div>
                <div class="masthead-heading text-uppercase" >
                    {{ company_name }}
                </div>
                {% endif %}  
                <div class="col head_bt">
                    {% if link_loja %}
                        {% for texto_botao, link in link_loja.items %}
                        <a class="btn btn-primary text-uppercase" href="{{ link }}" target="_blank" id="ir-para-loja-button">{{texto_botao}}</a>
                        {% endfor %}
                    {% else %}
                    <a class="btn btn-primary text-uppercase" href="#new-contact" id="entre-em-contato-button">Entre em contato</a>
                    {% endif %}
                </div>
            </div>   
        </header>
        <section class="container" id="services">
            <div>
                <h1 class="mx-auto text-capitalize">{{company_name}} - serviço de {{category}} em 
                    {{service_areas|join:", "}}. </h1>
            </div>
            {% if lista_items %}
            <div class="container">
                <h2 class="text-center negrito text-uppercase">{{category}} em {{address|last}}</h2>
                <div> 
                    <ul>
                        {% for item in lista_items %}
                        <li>
                            <h3 class="lista justify">{{ item }}</h4>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if dados_dict %}
            <div class="container">
                <div class="row text-center"> 
                    {% for chave, valor in dados_dict.items %}
                    <div class="col-md-4">
                        <h3 class="text-uppercase">{{ chave }}</h3>
                        <p class="justify">{{ valor }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if reviews_link %}                    
            <div class="container">
                    <a href="{{reviews_link}}" target="_blank" class="btn btn-primary mb-4" id="ver-avaliacoes-button">Consulte aqui nossas avaliações</a>
            </div>
            {% endif %}
            {% if img_carousel.0 %}
            <div class="carousel">
                <div class="carousel-container">
                    <div class="carousel-slide">
                        {% for image_num in img_carousel %}
                        <img src="{{ bucket }}{{ image_num }}.webp" alt="Imagem 1" width="350" height="200">
                        {% endfor %}
                    </div>
                </div>
                <button class="carousel-prev">&#10094;</button>
                <button class="carousel-next">&#10095;</button>
            </div>
            {% endif %}
        </section>
        <section class=" text-center container" id="new-contact">
            <div class=" mx-auto ">
                <h3 class="text-uppercase espaco-duplo">Contato</h3>
                <div class="col-md-4 mx-auto text-center ">
                    <p><strong>Telefone(s):</strong> {{phone_numbers}}</p>
                    {% if whats_number %}
                    <a href="https://api.whatsapp.com/send?phone={{whats_number}}" target="_blank" class="btn btn-primary mb-4" id="chamar-no-whatsapp-button">Conversar no WhatsApp</a>                        
                    {% endif %}
                    {% if e_mail %}
                    <a href="mailto:{{e_mail}}" target="_blank" class="btn btn-primary mb-4">Enviar um e-mail</a>                        
                    {% endif %}     
                    {% if social_media %}
                    <div class="tm-social-buttons espaco-duplo">
                        <strong>Nos siga nas redes sociais:</strong>
                        {% for platform, link in social_media.items %}
                            <a href="{{ link }}" title="Siga-nos no {{ platform }}"><i class="fab fa-{{platform}} {{platform}}-icon "></i></a>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <p><strong>Endereço:</strong> {{address|join:", "}}</p>
                    {% if gmaps_link %}
                    <button class="btn btn-primary" onclick="carregarMapa()" id="map-button">Ver no mapa</button>
                    <a class="btn btn-primary" href="https://www.google.com/maps/dir/?api=1&destination={{address}}" target="_blank" style="display: none;" id="directions-button">Dirigir até o local</a>                             
                    <div class="embed-responsive embed-responsive-16by9 col-md-4 mx-auto" id="google-map-container" data-gmaps-link="{{ gmaps_link }}"></div>
                    {% endif %}
                    <p><strong>Atendemos de {{opening_hours}}</strong></p>
                </div>       
            </div>
        </section>
        <footer class="footer">
            <div class="row">
                <div class="mx-auto">Copyright&copy; ConectaPages 2024</div>
            </div>
        </footer>        
        {% if heading_style > 1 %}
        {% endif %}
    </body>
</html>
