{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{meta_description}} Acesse para entrar em contato ou obter mais informações." />
    <title>{{nome_empresa}} - {{descricao_curta}}</title>
    <link rel="icon" type="image/png" href="{% static 'common/landing_page/favicon.png' %}">
    <link href="{% static 'common/landing_page/css/styles.css'%}" rel="stylesheet" />
    <link href="{% static 'common/landing_page/css/top_black_bar.css'%}" rel="stylesheet" />
    <link href="{% static 'common/landing_page/css/carousel.css'%}" rel="stylesheet" />
    <script src="{% static 'common/landing_page/js/carousel.js'%}"></script>
</head>   
<body id="page-top">
<header class="top-bar">
    <div class="container logo">
        <a href="/">
            <img src="{% static 'common/landing_page/img/logo.svg' %}" width="150" height="26" alt="Logo da sua página" class="logo">
        </a>
    </div>
</header>

<header class="masthead main-content" id="masthead">
    <div class="container">
        <div class="background-image" style="background-image: url('{{ endereco_bucket }}0.webp');"></div>
        <div class="masthead-subheading">
            <h1>{{ descricao_curta }} </h1>
        </div>
        <div class="masthead-heading text-uppercase">
            <h2>{{ nome_empresa }}</h1>
        </div>
        <div class="col">
            {% if link_loja %}
            <a class="btn btn-primary text-uppercase" href="{{ link_loja }}">Acesse nossa loja virtual</a>
            {% else %}
            <a class="btn btn-primary text-uppercase" href="#new-contact">Entre em contato</a>
            {% endif %}
        </div>
    </div>   
</header>
<section class="container" id="services">
    {% if lista_items %}
    <div class="container">
        {% for chave, valor in lista_items.items %}
        <h3 class="text-center text-uppercase">{{chave}}</h2>
        <div class="justify"> 
            <ul>
                {% for item in valor %}
                <li>
                    <span >{{ item }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if dados_dict %}
    <div class="container">
        <div class="row text-center"> 
            {% for chave, valor in dados_dict.items %}
            <div class="col-md-4">
                <h3 class="text-uppercase">{{ chave }}</h3>
                <p class="">{{ valor }}</p>
            </div>
            {% endfor %}
        </div>
        <div>
            {% if reviews_link %}                    
            <p><a href="{{reviews_link}}" target="_blank" class="btn btn-primary mb-4 ">Consulte aqui nossas avaliações</a></p>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if num_img_carousel.0 %}
    <div class="carousel">
        <div class="carousel-container">
            <div class="carousel-slide">
                {% for image_num in num_img_carousel %}
                <img src="{{ endereco_bucket }}{{ image_num }}.webp" alt="Imagem 1" width="350" height="200">
                {% endfor %}
            </div>
        </div>
        <button class="carousel-prev">&#10094;</button>
        <button class="carousel-next">&#10095;</button>
    </div>
    {% endif %}
</section>
<section class=" text-center container" id="new-contact">
    <div class=" mx-auto ">
        <h3 class="section-heading text-uppercase espaco-duplo">Contato</h3>
        <div class="col-md-4 mx-auto text-center ">
            <a href="{{link_whats}}" target="_blank" class="btn btn-primary mb-4 ">Conversar no WhatsApp</a>                        
            {% if email_contato %}
            <a href="mailto:{{email_contato}}" target="_blank" class="btn btn-primary mb-4">Enviar um e-mail</a>                        
            {% endif %}     
            {% if link_facebook or link_instagram %}
            <div class="tm-social-buttons espaco-duplo ">
                <strong>Nos siga nas redes sociais:</strong>
                {% if link_facebook %}
                <a href="{{ link_facebook }}" title="Siga-nos no Facebook"><i class="fab fa-facebook-f facebook-icon"></i></a>
                {% endif %}
                {% if link_instagram %}
                <a href="{{ link_instagram }}" title="Siga-nos no Instagram"><i class="fab fa-instagram instagram-icon"></i></a>
                {% endif %}
            </div>
            {% endif %}
            <p><strong>Telefone:</strong> {{numeros_telefone}}</p>
            {% if gmaps_link %}
            <button class="btn btn-primary" onclick="carregarMapa()" id="map-button">Ver no mapa</button>
            <script defer>
                function carregarMapa() {
                    var iframe = document.createElement("iframe");
                    iframe.setAttribute("src", "{{gmaps_link}}");
                    iframe.setAttribute("width", "100%");
                    iframe.setAttribute("height", "200");
                    document.getElementById("google-map-container").appendChild(iframe);
                    document.getElementById("map-button").style.display = "none";
                }
            </script>            
            {% endif %}
            <a class="btn btn-primary" href="https://www.google.com/maps/dir/?api=1&destination={{endereco}}" target="_blank">Obter Direções</a>
            <p><strong>Endereço:</strong> {{endereco}}</p>
            <p><strong>Atendemos de {{horario_atendimento}}</strong></p>
        </div>       
        <div class="embed-responsive embed-responsive-16by9 my-4 col-md-4 mx-auto" id="google-map-container"></div>
    </div>
</section>

<footer class="footer">
    <div class="row">
        <div class="mx-auto">Copyright&copy; <a href="/">ConectaPages</a> 2024</div>
    </div>
</footer>        

<script>
   window.onload = function() {
    var highQualityImageUrl = '{{ endereco_bucket }}1.webp';   
    var lazyImages = document.querySelectorAll("img.lazy-load");
    var img = new Image();
    img.onload = function() {
        document.querySelector('#masthead .background-image').style.backgroundImage = 'url(' + highQualityImageUrl + ')';
    };
    img.src = highQualityImageUrl; 
    lazyImages.forEach(function(lazyImage) {
         lazyImage.src = lazyImage.dataset.src;
        lazyImage.classList.remove("lazy-load");
    });
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.href = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css';
    document.head.appendChild(link);
};

</script>   
</body>
</html>
