{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{nome_empresa}} - {{slogam}}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="{% static 'common/store/css/templatemo-style.css' %}" rel="stylesheet" />
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TKSFTQLMCG"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-TKSFTQLMCG');
</script>            
<body> 
	{% if link_whats %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <a href="{{link_whats}}" class="btn btn-success floating-button" target="_blank">
		<i class="fab fa-whatsapp  fa-3x"></i>
		Atendimento
	</a>
	{% endif %}
    <style>
        .floating-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
        }
    </style>
	<div class="container">
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{{endereco_bucket}}/cover.webp">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{{endereco_bucket}}/logo.webp" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">{{nome_empresa}}</h1>
								<h6 class="tm-site-description">{{slogam}}</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="#" class="tm-nav-link active">Home</a></li>
								<li class="tm-nav-li"><a href="#promocoes" class="tm-nav-link">Promoções</a></li>
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">{{titulo}}</h2>
				<p class="col-12 text-center">{{paragrafo}}</p>
			</header>
			
			<div class="tm-paging-links">
				<nav>
					<ul>
						{% for category, items in produtos.items %}
							<li class="tm-paging-item"><a href="#" class="tm-paging-link{% if forloop.first %} active{% endif %}">{{ category }}</a></li>
						{% endfor %}
					</ul>
				</nav>
			</div>

			<!-- Gallery  CASE SENSITIVE !!!!-->
			<div class="row tm-gallery">
				{% for category, items in produtos.items %}
					<div id='tm-gallery-page-{{category|cut:" "}}' class="tm-gallery-page {% if not forloop.first %}hidden{% endif %}">
						{% for item in items %}
							<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
								<figure>
									<img src="{{ endereco_bucket }}/{{ item.id }}.webp" alt="Image" class="img-fluid tm-gallery-img lightbox-img" />
									<figcaption>
										<h4 class="tm-gallery-title">{{ item.nome }}</h4>
										<p class="tm-gallery-description">{{ item.descrição | capfirst }}</p>
										<p class="tm-gallery-price">{{ item.preço }}</p>
									</figcaption>
								</figure>
							</article>
						{% endfor %}
					</div> 
				{% endfor %}
			</div>
			
			
			<div class="tm-section tm-container-inner" id="promocoes">
				<div class="row">
					<div class="col-md-6">
						<div class="tm-description-box"> 
							<h4 class="tm-gallery-title">Promoções Especiais e Eventos</h4>
							<p class="tm-mb-45">Aqui você pode encontrar informações sobre nossas promoções especiais e eventos atuais.</p>
							<!-- Adicione aqui o código para exibir as promoções especiais e eventos dinamicamente -->
							{% if promocoes %}
								<ul>
									{% for promocao in promocoes %}
										<li>{{ promocao }}</li>
									{% endfor %}
								</ul>
							{% else %}
								<p>Não há promoções no momento.</p>
							{% endif %}
						</div>
					</div>
					{% if link_facebook or link_instagram %}
					<div class="col-md-6">
						<div class="tm-description-box"> 
							<!-- Botões de Acesso às Redes Sociais -->
							<div class="tm-social-buttons">
								{% if link_facebook %}
									<a href="{{ link_facebook }}" class="btn btn-primary"><i class="fab fa-facebook-f" title="Link para o facebook."></i></a>
								{% endif %}
								{% if link_instagram %}
									<a href="{{ link_instagram }}" class="btn btn-danger"><i class="fab fa-instagram" title="Link para o instagram."></i></a>
								{% endif %}
								<!-- Adicione mais ícones de redes sociais conforme necessário -->
							</div>
							<!-- Descrição das Redes Sociais -->
							{% if link_facebook or link_instagram %}
								<p class="tm-mt-20">Conheça também as nossas redes sociais.</p>
							{% endif %}
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		<footer class="tm-footer text-center">
			<p class="mb-4">Quer ter sua própria loja? <a href="https://conectapages.com" class="fs-5">Converse conosco</a>.</p>
			<p>Copyright &copy; 2024 ConectaPages</p>
		</footer>
	</div>
	<script src="{% static 'common/store/js/jquery.min.js' %}"></script>
	<script src="{% static 'common/store/js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().replace(/\s/g, '');
				console.log(page)
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>