{% load compress %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link href="{% static 'common/store/css/templatemo-style.css' %}" rel="stylesheet" />

</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'common/store/img/simple-house-01.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{% static 'common/store/img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">{{nome_empresa}}</h1>
								<h6 class="tm-site-description">{{slogam}}</h6>	
							</div>
						</div>
						<!--<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="index.html" class="tm-nav-link active">Home</a></li>
								<li class="tm-nav-li"><a href="about.html" class="tm-nav-link">About</a></li>
								<li class="tm-nav-li"><a href="contact.html" class="tm-nav-link">Contact</a></li>
							</ul>-->
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">{{titulo}}</h2>
				<p class="col-12 text-center">{{paragrafo}}</p>
			</header>
			
			<div class="tm-paging-links">
				<nav>
					<ul>
						{% for category, items in produtos.items %}
							<li class="tm-paging-item"><a href="#" class="tm-paging-link{% if forloop.first %} active{% endif %}">{{ category|title }}</a></li>
						{% endfor %}
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				{% for category, items in produtos.items %}
					<div id="tm-gallery-page-{{ category }}" class="tm-gallery-page {% if not forloop.first %}hidden{% endif %}">
						{% for item in items %}
							<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
								<figure>
									<img src="{% static 'common/store/img/'|add:item.3 %}" alt="Image" class="img-fluid tm-gallery-img lightbox-img" />
									<figcaption>
										<h4 class="tm-gallery-title">{{ item.0 |title}}</h4>
										<p class="tm-gallery-description">{{ item.1 |capfirst}}</p>
										<p class="tm-gallery-price">{{ item.2 }}</p>
									</figcaption>
								</figure>
							</article>
						{% endfor %}
					</div> <!-- gallery page {{ category }} -->
				{% endfor %}
			</div>
			
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src="{% static 'common/store/img/img-01.jpg' %}" alt="Image" class="img-fluid" />
						</figure>
					</div>
					<div class="col-md-6">
						<div class="tm-description-box"> 
							<h4 class="tm-gallery-title">Maecenas nulla neque</h4>
							<p class="tm-mb-45">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a rel="nofollow" href="https://templatemo.com/contact">talk to us</a> for additional permissions about our templates. Thank you.</p>
							<a href="about.html" class="tm-btn tm-btn-default tm-right">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2024 MK4 Digital 
            
            | Design: <a rel="nofollow" href="https://www.linkedin.com/in/cristianritter/">Cristian Ritter</a></p>
		</footer>
	</div>
	<script src="{% static 'common/store/js/jquery.min.js' %}"></script>
	<script src="{% static 'common/store/js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>