{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Landing page de comercio local de afiação de alicates de unha e tesouras." />
        <meta name="author" content="Cristian Ritter / Alex Amaro" />
        <title>Adelcio Afiador - Afiação e Venda de Ferramentas para Salões de beleza</title>
        {% compress css %}
        <link defer href="{% static 'cities/sapiranga/ajrcutelaria/assets/css/styles.css' %}" rel="stylesheet" />
        {% endcompress %}
    </head>

    <body id="page-top">
        <title>Seção de Serviços</title>           
        <!-- Navigation-->
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="mainNav"> 
            <div class="container">
                <a class="navbar-brand" href="#page-top"><img src="{% static 'cities/sapiranga/ajrcutelaria/assets/img/navbar-logo.svg' %}" alt="Logo" style="width: 80px; height: 30px;"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">Nossos Serviços</a></li>
                        <li class="nav-item"><a class="nav-link" href="#avaliacoes">Avaliações</a></li>
                        <li class="nav-item"><a class="nav-link" href="#new-contact">Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Masthead-->
        <header class="masthead mb-4">
            <div class="container">
                <div class="masthead-subheading">Afiação e Venda de Ferramentas para Salões de beleza</div>
                <div class="masthead-heading text-uppercase">Adélcio Amolador</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#new-contact"> Entre em contato</a>
            </div>
        </header>
        
        <!-- Services -->
<section class="page-section mb-4" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Um pouco mais sobre nós</h2>
            <h3 class="section-subheading text-muted">Nossa história, serviços e compromisso com a excelência.</h5>
        </div>

        <!-- Imagens lado a lado (responsivas com borda) -->
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="{% static 'cities/sapiranga/ajrcutelaria/assets/img/tesoura.webp' %}" alt="Imagem 1" style="width: 100%; height: 100%;" class="img-thumbnail img-fluid border">
            </div>
            <div class="col-md-4">
                <img src="{% static 'cities/sapiranga/ajrcutelaria/assets/img/faca.webp' %}" alt="Imagem 2" style="width: 100%; height: 100%;" class="img-thumbnail img-fluid border">
            </div>
            <div class="col-md-4">
                <img src="{% static 'cities/sapiranga/ajrcutelaria/assets/img/alicate.webp' %}" alt="Imagem 3" style="width: 100%; height: 100%;" class="img-thumbnail img-fluid border">
            </div>
        </div>   

        <div class="row text-center">
            <div class="col-md-4">
                <h3 class="my-3">Nossa História</h3>
                <p class="text-muted">Oferecemos um serviço especializado com mais de 20 anos de experiência. Serviço reconhecido por nossos amigos e clientes.</p>
            </div>
            <div class="col-md-4">
                <h3 class="my-3">Produtos e Serviços</h3>
                <p class="text-muted">Serviço especializado de afiação para alicates, tesouras, facas e outras ferramentas profissionais. Temos também uma loja de ferramentas profissionais, incluindo espatulas de cutícula de alta qualidade e uma variedade de acessórios de reposição, de molas metálicas a borrachas de silicone para alicates.</p>
            </div>
            <div class="col-md-4">
                <h3 class="my-3">Nosso Diferencial</h3>
                <p class="text-muted">Oferecemos não apenas serviços e produtos de qualidade, mas também comodidade, pois disponibilizamos atendimento personalizado no seu local de preferência, seja presencial ou remoto. Renove suas ferramentas com praticidade, sem sair do seu espaço de trabalho. Agende uma visita.</p>
            </div>
        </div>
    </div>
</section>


        <!-- Seção de Classificação -->
        <section class="page-section mb-4" id="avaliacoes">
            <div class="container text-center">
                <h2 class="section-heading text-uppercase">O que nossos clientes dizem</h2>
            
                <a href="https://www.google.com/search?sca_esv=597798541&sxsrf=ACQVn09tK96UcndKVhfl9U_sMqt54Dwi9Q%3A1705064039711&q=Ad%C3%A9lcio%20Afiador%20-%20AJR%20Cutelaria&stick=H4sIAAAAAAAAAONgU1I1qLA0NbQ0TktKNTOyNLK0MDC0MqhIS7KwME1KM7FIMTcEEmaLWBUcUw6vzEnOzFdwTMtMTMkvUtBVcPQKUnAuLUnNSSzKTAQAs9zl1EwAAAA&mat=CeFeXWGYZgoG&ved=2ahUKEwip2J_D8teDAxV3ILkGHZbCBH4QrMcEegQICBAD" target="_blank" class="btn btn-primary">Ver Avaliações no Google</a>
            </div>
        </section>

        <!-- Promoção Section -->
        <section class="page-section mb-4" id="promocao">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Oferta Especial</h2>
                    <p class="text-muted">Aproveite nosso desconto exclusivo!</p>
                </div>

                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <p class="large text-muted">Informe que conheceu o nosso local através do nosso site e ganhe 10% de desconto no valor total da sua primeira compra! (Limitado à R$20)</p>
                        <p class="large text-muted">Estamos ansiosos para recebê-lo!</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- New Contact Section -->
        <section class="page-section mb-4" id="new-contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Fale conosco</h2>
                </div>

                <!-- Contact Information -->
                <div class="row mb-4">
                    <div class="col-md-4">
                        <p><strong>Endereço:</strong> Rua Duque de Caxias, 634, Centenário, Sapiranga, RS</p>
                        <p><strong>Telefone:</strong> (51) 980159178</p>
                        <p><strong>Horário de Atendimento:</strong> Seg à Sex das 07-19h.</p>
                    </div>
                    <div class="col-md-8">
                        <!-- Google Maps Embed -->
                        <div class="embed-responsive embed-responsive-16by9" id="google-map-container">
                            <!-- O script do Google Maps pode ser carregado dinamicamente aqui -->
                        </div>
                    </div>
                  </div>

                <!-- WhatsApp Link -->
                <div class="text-center mb-4">
                    <p><strong>Podemos ajudá-lo? Converse conosco no WhatsApp:</strong></p>
                    <!-- Replace "YOUR_WHATSAPP_NUMBER" with your actual WhatsApp number -->
                    <a href="https://wa.me/+5551980159178" target="_blank" class="btn btn-primary text-uppercase">Conversar no WhatsApp</a>
                </div>

                <!-- Submit success message, error message, and form (if needed) can be added here -->
            </div>
        </section>

        <!-- Explore Local Businesses Section -->
        <section class="page-section" id="explore-businesses">
            <div class="container">
                <div class="text-center mt-4">
                    <p><a href="#" class="text-dark">Explore mais comercios na região</a></p>
                    <p><a href="home#new-contact" class="text-dark">Divulgue sua empresa aqui.</a></p>
                </div>
            </div>
        </section>

        <!-- Footer-->    
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 text-lg-start">Copyright &copy; Catálogo Digital 2024</div>
                    <div class="col-lg-3 text-lg-start">Feito por <a href="https://cristianritter-portifolio.webnode.page/" class="text-dark">Cristian Ritter</a></div>
                    <div class="col-lg-3 text-lg-end">
                        <a href="#!" class="text-dark">Privacy Policy </a>
                        <a href="#!" class="text-dark"> Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>

        <style>
            header.masthead {
              background-image: url("{% static 'cities/sapiranga/ajrcutelaria/assets/img/header-bg.webp' %}");
              color: rgb(253, 253, 253);
              text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adicione esta linha para o sombreado */
            }
        </style>

        <!-- Bootstrap core JS-->
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <script defer src="{% static 'cities/sapiranga/ajrcutelaria/assets/js/scripts.js' %}"></script>
    </body>
</html>
