.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #3a4147;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: #212529;
}

.btn-primary {
  color: #ffffff;
  background-color: #0766d3;
  border-color: #020618;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #14d4a4;
  border-color: #14d4a4;
}

.container {
  max-width: 1320px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 95%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

ul {
  padding-left: 0rem;
  margin: 10px 30px;
  font-size: 18px;
  list-style-image: url('data:image/png;base64,UklGRigCAABXRUJQVlA4TBwCAAAvD8ADAE/koG0kSaqamV0qi+J4HH8A/92+3R0abiRJcpTu3dNaPYP//wRbe1in72CXdtBGkiN1z15A8iwexvOHkH/jzUzPfyAFAEAQAJJYYJIoQAAACriEK0DBAQi4E8uB6YGn9dtNV9No1r1JJSTYVE6KIiQOgZAKSLa2i0JsxYn5L3//W1VO2sdYMGzxOSp5SYX8hSMc4ucOt/SvWX/DFU4s6axDfC+aZI2G5OX0LjKnQHqy664YAc3bqd5L7bCeVXowUjB8VaHAnvIrqzosCMmCOkUOCtJZ6JemcFcWaAMEDDgkCwTTDPhLI9q5AgyED7iQPrWSgFEgJhFA/1MzhUkmYUBMslSUoc1QMX6FM4Iwm50C8gZj2v3Gn7CXs3QHltvlrqq0VDfnEO7tQyNBaDCdBhC2bTvWCr4/Pe+Hamje4mzbbEbWrGbb/Nbv3ltE/9W2bcO4bE49gzEGgBjL6AcAgpwuKvnTRQHgXNjU0T0xM1km/oMprsa2rv7nl7mFBkMhSAXNrbXjQ3enOxshh8wgt7T3VOR/3F8e7i35dCDd2Ts6Zs+uHD5LJYKmQMV9g48PNdYs+/dJ0u9R4J5/vbgpt9jyPg9W/R4Jv4H4/khO7tfteSoeMAXoUyvrVdVP11fHu1xEK43MDmy9Hb1vb0YdBkHQ6sOLsbVkYjlUx39KdU4H/f6Az5HxOEHVf7xek/sjIyIARIrC9SM=')
}

li {
  margin-bottom: 5px; /* Aumenta o espaço entre os itens da lista */
}

/* Arquivo styles.css */

.lista {
  font-size: 18px; /* Define o tamanho da fonte para o h1 */
  font-weight:500;
}


header.masthead {
  padding-top: 5rem;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  color: rgb(253, 253, 253);
}



header.masthead .masthead-subheading {
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.masthead .masthead-heading {
  max-width: 90%; /* garante que o texto não ultrapasse a largura da tela */
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


@media screen and (max-width: 600px) {
  header.masthead .masthead-heading {
      font-size: 5vw; /* 5% do tamanho da largura da viewport */
      max-width: 100%; /* garante que o texto não ultrapasse a largura da tela */
  }
  header.masthead .masthead-subheading {
    font-size: 3vw; /* 5% do tamanho da largura da viewport */
    max-width: 100%; /* garante que o texto não ultrapasse a largura da tela */
  }

}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.facebook-icon {
  color: #3b5998; /* cor do Facebook */
  font-size: 24px; /* tamanho do ícone */
  margin-right: 5px; /* espaçamento à direita */
}

.instagram-icon {
  color: #bc2a8d; /* cor do Instagram */
  font-size: 24px; /* tamanho do ícone */
  margin-right: 5px; /* espaçamento à direita */
}

.text-uppercase {
  text-transform: uppercase;
}

.espaco-duplo {
  padding-top: 20px; /* Adicione a quantidade de espaço desejada */
}

.espaco-apos {
  padding-bottom: 5px; /* Adicione a quantidade de espaço desejada */
}

a {
  color: #040533;
  text-decoration: underline;
}

h3,
.h3,
h2,
.h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin-top: 0rem;
  margin-bottom: 2rem;
}

body {
  margin: 0;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(171, 31, 31, 0);
}

.justify {
  display: flex;
  justify-content: center;
}


/* Adicione um estilo para o contêiner flexível */
.container {
  display: flex;
  flex-direction: column; /* Organiza os itens em coluna */
  justify-content: center; /* Centraliza os itens verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
}

/* Estilo para a classe row */
.row {
  display: flex;
  flex-wrap: wrap; /* Faz os itens filhos envolverem para a próxima linha, se necessário */
  justify-content: center; /* Centraliza os itens horizontalmente */
}

/* Estilo para os itens filhos */
.col-md-4 {
  flex: 1; /* Permite que os itens cresçam e encolham dinamicamente */
  min-width: 200px;
}

.footer {
  background-color: #f0f0f0; /* Adicione uma cor de fundo opcional para o rodapé */
  padding: 20px 0; /* Adicione preenchimento para separar o conteúdo do rodapé do contêiner */
  max-width: 1320px;
  margin-left: auto; /* Define 'margin-left: auto' para centralizar o elemento */
  margin-right: auto; /* Define 'margin-right: auto' para centralizar o elemento */

}

.footer.container {
  max-width: 1200px; /* Defina a largura máxima do contêiner do rodapé */
  margin: 0 auto; /* Centralize o contêiner na página */
  display: flex; /* Use flexbox para alinhar itens horizontalmente */
  justify-content: center; /* Alinhe os itens horizontalmente no centro */
}

#masthead .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: brightness(0.5); /* Ajuste o valor conforme necessário */
  z-index: -1;
}

#masthead {
  position: relative;
  min-height: 350px; /* Ajuste conforme necessário */
  max-width: 1320px;
  margin-left: auto; /* Define 'margin-left: auto' para centralizar o elemento */
  margin-right: auto; /* Define 'margin-right: auto' para centralizar o elemento */

}

.resumo {
  font-size: 1.25rem;
  font-weight: 200;
  
}

