.carousel {
  position: relative;
  max-width: 350px; /* Largura do contêiner do carousel */
  margin: 0 auto; /* Centralizar horizontalmente */
}

.carousel-container {
  width: 100%; /* Largura total */
  overflow: hidden;
  position: relative;
}
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  
  .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  .carousel-prev {
    left: 0;
  }
  
  .carousel-next {
    right: 0;
  }
  